<div>
  <h1 class="font-bold text-2xl mb-3">Editing Piece</h1>

  <turbo-frame id="<%= dom_id @piece %>">
    <%= render "form", piece: @piece %>
    <%= button_to "Delete", piece_path(@piece), method: :delete, data: { "turbo-frame": "_top" }, class: "btn mt-4 bg-red-100" %>
  </turbo-frame>
</div>