<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg block" id="notice">
    <%= notice %>
  </p>
<% end %>

<turbo-frame id="new-piece" class="mt-4">
  <%= link_to "⊕", new_piece_path(), class: "btn bg-gray-100 text-xl" %>
  
  <div class="inline-block">
    <div class="inline-block ml-4 w-40"></div>
    <% 0.upto(6).each do |i| %>
      <span class="inline-block w-10 ml-2 text-center"><%= (Date.today - i).strftime("%a") %></span>
    <% end %>
  </div>

  <div data-controller="pieces">
      <%= render @pieces %>
  </div>
</turbo-frame>
